# Canonical env examples are centralized in:
#   config/env/.env.common.example
#   config/env/.env.apps.web.example
#
# Recommended shared env directory (outside worktree):
#   D:\Coding\my-oak-research-env
#
# Copy examples to your shared env directory and rename:
#   .env.common.example -> .env.common
#   .env.apps.web.example -> .env.apps.web
#
# Then set:
#   OAK_ENV_DIR=D:\Coding\my-oak-research-env
